:root {
  --primary-ff: "Public Sans", sans-serif;
  --secondary-ff: "DM Serif Display", sans-serif;
  --color-primary: #ba4270;
  --color-secondary: #1b262f;
  --color-text: #566876;
  --color-heading: #36536b;
  --color-neutral: #ffffff;
  --color-second-text: #fbfcfe;
  --color-border: #9aa4ad;

  --color-error: #b82e38;

  --smallest-fs: 0.694rem;
  --small-fs: 0.833rem;
  --default-fs: 1rem;
  --lg-fs: 1.2rem;
  --xl-fs: 1.44rem;
  --2xl-fs: 1.728rem;
  --3xl-fs: 2.074rem;
  --4xl-fs: 2.488rem;
  --5xl-fs: 2.986rem;
  --6xl-fs: 3.523rem;
  --7xl-fs: 4.23rem;
  --8xl-fs: 5.07rem;

  --p-96: 6rem;
  --p-128: 8rem;
}
