@use "./../../../abstracts/variables" as *;
@use "./../../../abstracts/mixins" as *;

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  @include media(45rem) {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .feature {
    text-align: center;
    &__icon {
      margin-bottom: 3rem;
    }
    &__title {
      color: var(--color-secondary);
      font-size: var(--xl-fs);
      font-weight: 600;
      margin-bottom: 1.5rem;

      @include media(60rem) {
        font-size: var(--lg-fs);
      }
    }

    .paragraph {
      color: var(--color-secondary);
    }
  }
}
