/* public-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/public-sans-v15-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/public-sans-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/public-sans-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/public-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/public-sans-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* public-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/public-sans-v15-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/dm-serif-display-v15-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-ff: "Public Sans", sans-serif;
  --secondary-ff: "DM Serif Display", sans-serif;
  --color-primary: #ba4270;
  --color-secondary: #1b262f;
  --color-text: #617585;
  --color-heading: #36536b;
  --color-neutral: #ffffff;
  --color-second-text: #fbfcfe;

  --color-error: #e63946;

  --smallest-fs: 0.694rem;
  --small-fs: 0.833rem;
  --default-fs: 1rem;
  --lg-fs: 1.2rem;
  --xl-fs: 1.44rem;
  --2xl-fs: 1.728rem;
  --3xl-fs: 2.074rem;
  --4xl-fs: 2.488rem;
  --5xl-fs: 2.986rem;
  --6xl-fs: 3.523rem;
  --7xl-fs: 4.23rem;
  --8xl-fs: 5.07rem;

  --p-96: 6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background: #fbfcfe;
  background-color: var(--background);
  font-family: var(--primary-ff);
  overflow-x: hidden;
}

.wrapper {
  --width: 71.25rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 var(--default-fs);
}

.header {
  position: relative;
}

.header__decoration {
  position: absolute;
  top: -19rem;
  right: -9rem;
  z-index: -1;
}

.header__dec-image {
  width: 900px;
}

.navigation {
  padding: var(--4xl-fs) 0;
  display: flex;
  align-items: center;
  gap: var(--5xl-fs);
}

.navigation__actions {
  display: flex;
  flex-grow: 1;
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: var(--3xl-fs);
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
}

.link--navigation:link,
.link--navigation:visited {
  padding: 5px;
  font-weight: 500;
  color: var(--color-text);
  transition: 0.3s;
}

.link--navigation:hover {
  --color-text: #566876;
}

.link--question:link,
.link--question:visited {
  border-bottom: 2px solid currentColor;
  font-weight: 500;
  color: var(--color-text);
  transition: 0.3s;
}

.link--question:hover {
  --color-text: #566876;
}

.link--general:link,
.link--general:visited {
  padding: var(--default-fs) var(--2xl-fs);
  border-radius: 100px;
  transition: 0.3s;
}

.link--cta:link,
.link--cta:visited {
  margin-left: auto;
  background-color: var(--color-primary);
  color: var(--color-neutral);
}

.link--cta:hover {
  --color-primary: #a73b65;
}

.link--secondary:link,
.link--secondary:visited {
  color: var(--color-neutral);
  border: 1px solid var(--color-neutral);
}

.link--secondary:hover {
  color: var(--color-secondary);
  background-color: var(--color-neutral);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--hamburger {
  display: none;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: var(--7xl-fs) 0;
}

.hero__image-container {
  justify-self: end;
}

.hero__addition {
  margin-top: 1rem;
  padding-left: 1.25rem;
  color: var(--color-text);
}

.heading__primary {
  font-size: var(--7xl-fs);
  color: var(--color-heading);
  font-family: var(--secondary-ff);
  line-height: 1.15;
  margin-bottom: 2.25rem;
}

.newsletter {
  position: relative;
  max-width: 450px;
}

.newsletter.error .newsletter__input {
  border: 1px solid var(--color-error);
}

.newsletter.error .form-error {
  opacity: 1;
}

.newsletter__input {
  width: 100%;
  border: 1px solid var(--color-neutral);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-family: inherit;
  padding: 1.25rem 12.5rem 1.25rem 1.25rem;
  font-size: var(--default-fs);
}

.form-error {
  opacity: 0;

  margin-top: 0.75rem;
  padding-left: 1.25rem;
  color: var(--color-error);
  font-weight: 500;
  transition: 0.3s;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--submit {
  position: absolute;
  top: 5px;
  right: 4px;

  padding: var(--default-fs) var(--2xl-fs);
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border-radius: 100px;
  font-weight: 500;
  font-size: var(--default-fs);
  transition: 0.3s;
}

.btn--submit.success {
  --color-primary: #2a9d8f;
}

.btn--submit.success:hover {
  --color-primary: #268d81;
}

.btn--submit:hover {
  --color-primary: #a73b65;
}

.section-intro {
  position: relative;
  overflow: hidden;
  padding: 128px 0;
  background-color: var(--color-secondary);
  z-index: 0;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.25rem;
}

.intro__decoration {
  position: absolute;
  top: -20rem;
  left: -15rem;
  z-index: -1;
}

.heading__secondary {
  color: var(--color-neutral);
  font-size: var(--5xl-fs);
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.paragraph {
  line-height: 1.6;
  color: var(--color-second-text);
  margin-bottom: 2.25rem;
}

.companies {
  padding: 3rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.companies__logo {
  filter: brightness(1000%);
}

@media (max-width: 87rem) {
  .header__decoration {
    right: -23rem;
  }
}

@media (max-width: 71.25rem) {
  .navigation__list {
    margin-left: auto;
  }

  .header__decoration {
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .intro__decoration {
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .companies {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .heading__secondary {
    font-size: var(--4xl-fs);
  }

  .header__dec-image {
    width: auto;
  }

  .heading__primary {
    font-size: var(--6xl-fs);
  }
}

@media (max-width: 60rem) {
  .wrapper--hero {
    --width: 45rem;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: var(--6xl-fs);
    padding-top: var(--3xl-fs);
  }

  .wrapper--intro {
    --width: 45rem;
  }

  .intro {
    grid-template-columns: 1fr;
  }

  .intro__content {
    text-align: center;
  }

  .companies {
    order: -1;
    padding-bottom: 3rem;
    row-gap: 3rem;
  }

  .hero__image-container {
    order: -1;
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__content {
    text-align: center;
  }

  .error {
    text-align: left;
  }

  .newsletter {
    margin: 0 auto;
  }

  .hero__image {
    width: 12rem;
  }
}

@media (max-width: 45rem) {
  .navigation {
    flex-wrap: wrap;
    gap: var(--5xl-fs);
  }

  .btn--hamburger {
    display: flex;
    margin-left: auto;
    background-image: url("./../assets/images/shared/mobile/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: var(--2xl-fs);
    height: var(--xl-fs);
  }

  .navigation__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    width: 100%;
    background-color: var(--color-secondary);
    border-radius: 9px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transform: translateY(-5rem);

    transition: 0.3s;
  }

  .navigation.active .navigation__actions {
    opacity: 1;
    visibility: visible;
    max-height: 300px;
    transform: translateY(0);

    padding: var(--3xl-fs) 0;
  }

  .navigation.active .btn--hamburger {
    background-image: url("./../assets/images/shared/mobile/close.svg");
  }

  .navigation__list {
    margin-left: 0;
    flex-direction: column;
    margin-bottom: var(--3xl-fs);
  }

  .navigation.active .link--navigation:link,
  .navigation.active .link--navigation:visited {
    color: var(--color-neutral);
  }

  .navigation.active .link--navigation:hover {
    --color-neutral: #e6e6e6;
  }

  .link--cta:link,
  .link--cta:visited {
    margin-left: 0;
  }

  .heading__primary {
    font-size: var(--5xl-fs);
  }
}

@media (max-width: 27rem) {
  .hero {
    padding: 0 0 var(--6xl-fs) 0;
  }

  .heading__primary {
    font-size: var(--3xl-fs);
  }

  .btn--submit {
    position: static;
    width: 100%;
  }

  .newsletter__item {
    margin-bottom: 1.25rem;
  }

  .companies {
    grid-template-columns: 1fr;
  }
}
